/* Portfolio Components */
.my-container {
  @apply w-full;
  @apply max-w-4xl;
  @apply mx-auto;
}

.header-dropdown-enter {
  opacity: 0.01;
  max-height: 0;
}

.header-dropdown-enter-active {
  opacity: 1;
  max-height: 4rem;
  transition: all ease-in-out 300ms;
}

.header-dropdown-exit {
  opacity: 1;
  max-height: 4rem;
}

.header-dropdown-exit-active {
  opacity: 0.01;
  max-height: 0;
  transition: all ease-in-out 300ms;
}

.tag {
  @apply px-2 text-sm text-gray-600 bg-gray-300 rounded;
}

.card {
  @apply p-4 rounded-lg shadow-lg;
}

@screen md {
  .card {
    @apply p-8;
  }
}
